.container{
  max-height: 34.625rem;
  max-width:34.625rem;
    overflow: hidden;
    box-sizing: border-box;
}
.scrollbtn{
  position: absolute;
  width: 100%;
  margin-top: -60%;
  display: flex;
  justify-content: space-between;
  /* border: 3px solid black; */
  color: black;
  padding: 0 2%;
  box-sizing: border-box;
  background-color: transparent;
}
.scrollbtn div{
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: auto;
    height: auto;
  }
  
  
  .navigation_manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  
  .manual_btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background-color: transparent;
  }
  
  .manual_btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual_btn:hover{
    opacity: 0.8;
    background: #fff; 
  }

  
  #rabB1:checked ~ .first{
    margin-left: 0;
  }
  
  #rabB2:checked ~ .first{
    margin-left: -20%;
  }
  
  #rabB3:checked ~ .first{
    margin-left: -40%;
  }
  
  #rabB4:checked ~ .first{
    margin-left: -60%;
  }

  #rabB5:checked ~ .first{
    margin-left: -80%;
  }

  #rabB6:checked ~ .first{
    margin-left: -100%;
  }

    
  @media(min-width:501px) and (max-width:1000px){
    .scrollbtn{
      margin-top: -60%;
    }
  }
  
  @media(max-width:500px){
    .scrollbtn{
      margin-top: -90%;
    }
  
  }