.jrnCnt {
    background-color: '#F5F9C';
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% 7%;
}

.jrnCnt img {
    width: 34.688rem;
    height: 34rem;
}

.jrnCnt h1 {
    font-family: '';
    margin-left: 10%;
    max-width: 65%;
    color: #304659;
}

.btn {
    margin-left: 10%;
    width: 7rem;
}