.outerCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;
    
    box-sizing: border-box;
    
}

.mobimg{
    margin: auto auto;
    margin-right: 5%;
    width: 34.688rem;
    height: 32.313rem;
    /* width: 60%;
    height: 70%; */
    flex: 1;
}
.demo{
    max-width: auto 0;
    display: flex;
    padding: 3%;
    flex: 1;
}



.insd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* border: 1px solid red; */
}



@media (max-width: 1000px) {
    .outerCont{
        margin: 0;
        flex-direction: column;
      
        
    }

    .insd{
        align-items: flex-start;
       
        
    }

    .demo{
        flex-direction: column;
    }
 
    .mobimg{
        margin: 2% auto;
    }

}

@media(max-width:620px){
    .mobimg{
        margin: 2% auto;
        width: 12.188rem;
        height:12.875rem;
    } 
}