.dfCnt{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    color: #304659;
    /* border: 2px solid black; */
}

.moto {
max-width: 70%;
flex: 1.3;
/* border: 1px solid black; */

margin: 1% 0;

} 
.service{
    flex: 1;
    margin: 1% 1%;
    line-height: 1rem;
    font-family: 'lato';
    /* border: 1px solid black; */

}
 .connect{
    flex: 1;
    margin: 1% 1%;
    line-height: 1rem;

    font-family: 'lato';
    /* border: 1px solid black; */

}

@media(max-width:1000px){
    .dfCnt{
        flex-direction: column;
        justify-content: center;
    }
}