.container{
     /* border: 1px solid black;   */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 5%; 
    box-sizing: border-box;

    
}

@media(max-width:1000px){
    .container{
        /* border: 1px solid red; */
        flex-direction: column;
        justify-content: center;
        margin: 5% auto;
        width: 90%;
        padding: 0;
        box-sizing: border-box;

    }
}

@media(max-width:1000px) and (min-width:620px){
    .container{
        align-items: center;
    }
}